
body{
  margin:0;
  padding-right: 0;
}

html { 
margin: 0;
background-color: #0d1b2f;
/* background-image: url('./images/Background.svg'); */
/* background-size: cover; */
overflow-x: hidden;
font-family:  "Roboto","Helvetica","Arial",sans-serif;
font-weight: 700;

}
@media(max-width:600px){
  html{
    background-size: auto;
  }
}

::-webkit-scrollbar {
  width: 0; 
  background: transparent;  
}
