
body{
  margin:0;
  padding-right: 0;
}

html { 
margin: 0;
background-image: url('./images/Background.svg');
background-size: cover;
overflow-x: hidden;
overflow:overlay;
font-family:  "Roboto","Helvetica","Arial",sans-serif;
font-weight: 700;

}
@media(max-width:600px){
  html{
    background-size: auto;
  }
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}